.row{
    border-radius: 7px;
    margin-bottom: 2px;
    height:90px ;
    display: flex;
    background-color: rgb(127, 151, 231);
    border: solid rgb(189, 172, 206) 1px;
    justify-content: space-between;
}
.rowDate{
    overflow: hidden;
    padding-top:10px ;
    flex-basis: 140px;
    text-align: center;
    
}
.addTable{
    margin-left: auto;
}
.inputName{

}
.inputCategory{

}
.inputData{
    
}